
    
<form class="row gy-2 gx-3 " (ngSubmit)="onSubmit()" >

    <div class="col-4">
        <label class="visually-hidden" for="autoSizingInput">Title</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="title" id="autoSizingInput" placeholder="Title">
    </div>

    <div class="col-6">
      <label class="visually-hidden" for="autoSizingInputGroup">Description</label>
      <div class="input-group">
        <input type="text" class="form-control" name="desc"  [(ngModel)]="desc" id="autoSizingInputGroup" placeholder="Description">
      </div>
    </div>

    <div class="col-2">
        <button type="submit" class="btn btn-outline-info">Add todo</button>
    </div>

</form>
